<!-- FOOTER -->
    <footer class="copyRightDashboard center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p align='center'>Copyright TaskTurtle© 2017. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>