<!-- HEADER -->
<header id="pageTop" class="header">
  <!-- TOP INFO BAR -->
  <div class="nav-wrapper">
    <!-- NAVBAR -->
    <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/img/logo_TT.png" alt="logo"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
          {{#unless user}}
            <li class=""><a href="/signup">Sign Up</a></li>
            <li class=""><a href="/signin">Login</a></li>
            {{/unless}}
            {{#if user}}
            <li class=" dropdown singleDrop">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> My Dashboard <i class="fa fa-angle-down" aria-hidden="true"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/users">My Bids</a></li>
                <li><a href="/users">My Profile</a></li>
                <li><a href="/users">My Task</a></li>
                <li><a href="/signout">Sign Out</a></li>
              </ul>
            </li>
            {{/if}}
          </ul>
        </div>
        {{#if user}}
          <a href="/jobs/create">
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#loginModal"> + <span>Make Task</span> </button>
          </a>
        {{/if}}
        {{#unless user}}
          <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#loginModal"> + <span>Make Task</span> </button>
        {{/unless}}
      </div>
    </nav>
  </div>
</header>