<!-- BANNER SECTION -->
<section class="clearfix homeBanner" style="background-image: url(img/banner/banner2.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banerInfo">
          <h1> Find A Task To Bid On</h1>
          <p>Connect With Local Contactors</p>

          <form class="form-inline" action="listing-sidebar-map-left.html" method="">
            <div class="form-group">
            <div class="contactSelect">
                    <select name="guiest_id9" id="guiest_id9" class="select-drop">
                      <option value="0">All Categories</option>
                      <option value="1">Outdoor</option>
                      <option value="2">Indoor</option>
                      <option value="3">Cleaning</option>
                      <option value="4">Car</option>
                      <option value="5">Repairs</option>
                      <option value="6">Moving</option>
                      <option value="7">General</option>
                    </select>
                  </div>

            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">Near</div>
                <input type="text" class="form-control" id="nearLocation" placeholder="enter zip code">
                <div class="input-group-addon addon-right"><i class="icon-listy icon-target" aria-hidden="true"></i></div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Search <i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>