<!-- LOGIN SECTION -->
<section class="clearfix loginSection">
  <div class="container">
    <div class="row">
      <div class="center-block col-md-5 col-sm-6 col-xs-12">
        <div class="panel panel-default loginPanel">
          <div class="panel-heading text-center">Member Log In</div>
          <div class="panel-body">
            <form class="loginForm" action="signin" method="post">
              <div class="form-group">
                <label for="email">Email *</label>
                <input type="text" name="email" class="form-control" id="userName">
                <p class="help-block">Enter the e-mail address associated with your account</p>
              </div>
              <div class="form-group">
                <label for="password">Password *</label>
                <input type="password" name="password" class="form-control" id="userPassword">
                <p class="help-block">Enter the password you chose when signing up</p>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary pull-left">Log In</button>
                <a href="#" class="pull-right link">Fogot Password?</a>
              </div>
            </form>
          </div>
          <div class="panel-footer text-center">
            <p>Not a member yet? <a href="/signup" class="link">Sign up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{{!-- <div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Sign In</h3>
      </div>
      <div class="panel-body">
        <form id="signin" name="signin" method="post" action="signin">
          <label for="email">Email Address</label>
          <input class="text" name="email" type="text" />
          <label for="password">Password</label>
          <input name="password" type="password" />
          <input class="btn" type="submit" value="Sign In" />
        </form>
      </div>
    </div>
  </div> --}}
 