<div class="container">	
	<div class="row">
		<div class="col-md-12">
		  <table class="table table-hover">
        <thead>
          <tr>
            <th>Contractor</th>
            <th>Bid Amount</th>
            <th>Est. Duration</th>
            <th>Accept Bid</th>
          </tr>
        </thead>
        <tbody>
          {{#each bids}}
            <tr>
              <td>{{UserId}}</td>
              <td>{{amount}}</td>
              <td>{{duration}}</td>
              <td>

                {{!-- Ask about this action... how will it link to routes --}}
                <form action="/{{id}}?_method=PUT" method="POST">
                  <input type="hidden" name="accepted" value="1">
                  <button class="btn btn-default" type="submit">Accept?</button>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
		</div>
	</div>
</div>