<form id="createJob" name="createJob" method="post" action="/createJob">
	<label for="jobTitle">Job Title</label>
	<input class="text" type="text" name="jobTitle"/>
	<label for="jobDescription">Job Description</label>
	<input class="text" type="text" name="jobDescription"/>
	<label for="bidLength">Bidding Window</label>
	<input class="integer" type="integer" name="bidLength"/>
	<label for="jobType">Job Type</label>
	<input class="checkbox" type="checkbox" name="jobType" value=""><br>
	<input class="checkbox" type="checkbox" name="jobType" value=""><br>
	<input class="checkbox" type="checkbox" name="jobType" value=""><br>
	<input class="checkbox" type="checkbox" name="jobType" value=""><br>
	<input class="checkbox" type="checkbox" name="jobType" value=""><br>
<input class="btn" type="submit" value="Create"/>

